* {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}

.navbaritems {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
  align-items: center;
}

.navbaritem-left,
.navbaritem-right,
.login-regis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbaritem-right {
  width: 600px;
}

.login-regis {
  width: 220px;
}

.logo-web {
  width: 100x;
  height: 65px;
  margin-right: 30px;
}

/* searchbox start */
.search-container {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  border-width: 0px;
  background-color: #fdefff;
  height: 40px;
  width: 400px;
  padding: 0 15px;
}

.search-container input,
.search-container button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.search-input {
  width: 100%;
}

.fa-magnifying-glass {
  color: #b959cb;
}

/* for search box input start */
input[type="text"]::-webkit-input-placeholder {
  text-indent: 10px;
  color: #c968db;
}

input[type="text"]::-moz-placeholder {
  text-indent: 10px;
  color: #c968db;
}

input[type="text"]:-ms-input-placeholder {
  text-indent: 10px;
  color: #c968db;
}

input[type="text"]:-moz-placeholder {
  text-indent: 10px;
  color: #c968db;
}

input[type="text"] {
  text-indent: 10px;
  color: #c968db;
}

input[type="text"]:focus {
  outline: none;
  border: none;
}
/* for search box input end */
/* searchbox end */

/* promotion menu start */
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #c968db;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 170px;
  padding: 10px 20px;
  cursor: pointer;
}

.menu-button img {
  margin-right: 8px;
}

.menu-text {
  font-size: 18px;
  margin: 0;
}

.menu-text:active {
  color: #fefefe;
}

.nav-button {
  border-radius: 8px;
  border: none;
  font-size: 18px;
  opacity: 70%;
}

.register-button a {
  color: #fefefe;
}

.login-button a {
  color: #b959cb;
}

.nav-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.login-button {
  width: 80px;
  height: 42px;
  color: #b959cb;
  background-color: #fdefff;
}

.register-button {
  width: 110px;
  height: 42px;
  color: #fefefe;
  background-color: #b959cb;
}

/* image carousel start */
.imageslider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.carousel {
  margin: 0px 15px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-container {
  height: 590px;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

.carousel-image {
  width: 1200px;
  float: left;
}

.imageslider button {
  border: 0px;
  background-color: transparent;
}
/* image carousel end */

/* bestseller start */
.bestseller-concert {
  margin-top: 100px;
  width: 100%;
  background-color: #b982c3;
}

.bestseller-section {
  width: 1080px;
  margin: 30px auto;
  padding-top: 30px;
}

.section-title,
.section-desc {
  color: #fefefe;
  font-size: 24px;
}

.section-desc {
  font-size: 18px;
}

.bestseller-concert img {
  width: 250px;
  height: 118px;
}

.bestseller-bg {
  background-color: #e2cce7;
  padding: 40px 0px;
}

.card-container {
  display: flex;
  width: 1080px;
  justify-content: space-between;
}

.card {
  background-color: #fefefe;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  box-shadow: 0px 0px 30px 15px rgba(185, 130, 195, 0.1);
}

.desc {
  width: 230px;
  margin: 10px;
}

.name {
  font-size: 16px;
  height: 65px;
}

.date {
  font-size: 14px;
  color: #8f8f8f;
}

.startsfrom {
  margin-top: 20px;
  font-size: 10px;
}

.price {
  font-size: 20px;
  color: black;
}

.card button {
  margin-top: 10px;
  padding: 10px 30px;
  width: 100%;
  background-color: #fdefff;
  border: 1px solid #b959cb;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.card a {
  color: #b959cb;
}

/* bestseller end */

/* recommendation start */
.recommendation-concert {
  margin-top: 100px;
  width: 100%;
  background-color: #fefefe;
  margin-bottom: 100px;
}

.recommendation-section {
  width: 1080px;
  margin: 30px auto;
}

.recommendation-section-title,
.recommendation-section-desc {
  color: black;
  font-size: 24px;
}

.recommendation-section-desc {
  font-size: 18px;
}

.recommendation-concert img {
  width: 250px;
  height: 118px;
}

.recommendation-bg {
  background-color: #fefefe;
}

/* recommendation end */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 59px;
  background-color: #b982c3;
  color: #ffffff;
}

/* menu mobile */
.none {
  display: none;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.menu {
  display: flex;
}

.mobiledesc {
  display: none;
}

.navbaritems {
  display: flex;
}

.tab-content {
  display: none;
}
.tab-content:first-of-type {
  display: block;
}

.error {
  color: red;
}

.form-control.error input {
  border-color: red;
}

/* tickets page start */
.tab {
  margin-top: 50px;
  margin-bottom: 0px;
}

.tab-list {
  display: flex;
  list-style: none;
  width: 300px;
}

.tab-list li {
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.tab-list li.active {
  border-bottom: 3px solid #b959cb;
}

.tab-list li:hover {
  color: #000;
  cursor: pointer;
}

.tab-list a {
  color: #676767;
}

.tab-content {
  margin-bottom: 100px;
}

.tickets-concert {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 0px;
}

.tickets-concert img {
  width: 250px;
  height: 118px;
}
/* tickets page end */

/* promotion page start */
.promotion-title {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.promotion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px;
  margin: 30px 0px 100px 0px;
}

.promotion-banner img {
  width: 330px;
  height: 160px;
}

.offerBtn {
  margin: 0px 10px 10px 10px;
}
/* promotion page end */

/* login page start */
.login-content {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-button {
  width: 300px;
  margin: 50px auto;
}

.login-form {
  display: flex;
  justify-content: center;
}

.input-field input {
  margin: 10px 0px;
  height: 40px;
  border-radius: 4px;
  border: 0px;
  background-color: #fdefff;
  width: 300px;
}

.password {
  padding-top: 10px;
}

.buttonLog input  {
  width: 300px;
  height: 42px;
  margin: 30px 0px;
  background-color: #C968DB;
  color: #fefefe;
  border-radius: 4px;
  border: 0px;
}

.
/* login page end */

@media screen and (max-width: 800px) {
  .logo-web {
    width: 140px;
    height: auto;
  }

  .navbarlogo .logo-web {
    margin-top: 0;
    margin-left: 30px;
  }

  .search-container {
    display: block; /* or flex */
    margin-top: 10em; /* Optional: Add some spacing between navbar items */
    margin-left: 1em;
    margin-bottom: 2em;
  }

  .search-container input {
    width: 560px;
    height: 50px;
  }

  .search-button {
    position: absolute;
    left: 90%;
  }

  .navbaritem {
    flex: 0 0 100%;
  }

  .search-container {
    margin-top: 20px;
    margin-left: 4em;
  }

  .menu-toggle {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-top: 0%;
    margin-right: 5%;
    cursor: pointer;
    padding: 15px; /* Increase the padding to make the icon bigger */
  }

  .menu-icon span {
    display: block;
    width: 30px; /* Increase the width to make the lines longer */
    height: 4px; /* Increase the height to make the lines thicker */
    background-color: #b982c3;
    margin-bottom: 6px; /* Increase the margin to create more spacing between lines */
    transition: transform 0.3s ease-in-out;
  }

  .navbaritem .register-button {
    position: absolute;
    left: 8%;
    top: 30%;
    width: 340px;
  }

  .navbaritem .login-button {
    position: absolute;
    left: 53%;
    top: 30%;
    width: 340px;
  }

  .mobiledesc {
    display: block;
    position: absolute;
    top: 25%;
    left: 8%;
    color: #8f8f8f;
  }

  .navbaritem .promotion-button {
    position: absolute;
    top: 37%;
    left: 6%;
  }

  .navbaritems {
    display: none;
  }

  .navbaritems.open {
    display: block;
    margin-left: -64px;
    height: 250px;
  }
}
